body { 
   font-family: 'Open Sans', sans-serif;
   color: #222;
   font-size: 14px;
   line-height: 1.4;
}
a {
    color: rgb(42, 73, 130);
}
img#logo-header {
    height: 65px;
    float: left;
    padding-right: 10px;
    margin-top: -13px;
    margin-bottom: -10px;
}
a#brand-header {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    color: #777;
    font-size: 24px;
    font-weight: 500;
    color: rgb(42, 73, 130);
}
a#brand-header:hover{
    text-decoration: none;
}
.alert-success {
    color: rgb(70, 136, 71);
    background-color: rgb(223, 240, 216);
}
.alert-info {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
}
.alert-warning {
    color: rgb(192, 152, 83);
    background-color: rgb(252, 248, 227);
}
.alert-danger {
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
}
.bg-primary {
    background-color: rgb(42, 73, 130);
}
.bg-primary>th {
    font-weight: normal;
}
.footer {
    background-color: #eee;
    padding: 10px;
    margin: 0 15px;
}
.footer>p {
    margin: 0;
}
.footer>.small {
    font-size: 75%;
}

h1,h2,h3,h4,h5,h6 {
margin-top:0px;
margin-bottom:10px;
}

h1,.h1 {
  font-size: 22px;
  line-height: 1.1;
}
h2,.h2 {
  font-size: 18px;
  line-height: 1.1;
}
h3,.h3 {
  font-size: 16px;
  line-height: 1.1;
}

h4,.h4 {
  font-size: 15px;
  line-height: 1.1;
}
h5,.h5 {
  font-size: 14px;
  line-height: 1.1;
}

h6,.h6 {
  font-size: 12px;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.1;
  color: #2a4982;
  letter-spacing:2px;
  text-transform:uppercase;
} 
.btn {
    border-radius: 0;
}
.form-control {
    border-radius: 0;
}
.btn-primary {
    background-color: rgb(42, 73, 130);
}
